<section class="flex w-full mx-auto justify-center">
    <div class="w-3/4">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <img class=" h-[400px]" src="assets/images/slider-image-1.jpeg" alt="slider-image-1">
            </ng-template>
            <ng-template carouselSlide>
                <img class=" h-[400px]" src="assets/images/slider-image-2.jpeg" alt="slider-image-2">
            </ng-template>
            <ng-template carouselSlide>
                <img class=" h-[400px]" src="assets/images/slider-image-3.jpeg" alt="slider-image-3">
            </ng-template>
        </owl-carousel-o>
    </div>

    <div class="flex flex-col w-1/4">
        <img class=" h-[200px]" src="assets/images/slider-image-2.jpeg" alt="slider-image-2">
        <img class=" h-[200px]" src="assets/images/slider-image-3.jpeg" alt="slider-image-3">
    </div>
</section>