<section class="p-3 my-3 w-full">
    @if (bestSeller.length>1) {
    <h2 class="text-2xl font-bold mb-3">Best Seller</h2>
    <div class="my-3 grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-4 mx-auto">
        @for (product of bestSeller; track $index) {
        <app-product-item [product]="product" />
        }
    </div>
    }
    <h2 class="text-2xl font-bold mb-3">All Products</h2>
    <div class="my-3 grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-4 mx-auto">
        @for (product of productList; track $index) {
        <app-product-item [product]="product" />
        }
    </div>
</section>