@if (step==1) {
<h1 class="text-center text-green-600 text-2xl font-bold py-3 mt-3 uppercase">Forget Password</h1>
<form class="max-w-lg mx-auto py-8" [formGroup]="forgetPasswordForm" (ngSubmit)="submitforgetPassword()">
    <div class="relative z-0 w-full mb-5 group">
        <input type="email" name="email" id="email" formControlName="email"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
            placeholder=" " required />
        <label for="email"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email
            Address
        </label>
    </div>

    @if(response){
    <div class="pb-4 mb-4 text-sm text-green-600" role="alert">
        <span class="font-medium">{{response.message}}</span>
    </div>
    }
    @if(errorRes){
    <div class="pb-4 mb-4 text-sm text-red-600" role="alert">
        <span class="font-medium">{{errorRes.error?.message}}</span>
    </div>
    }

    <button [disabled]="forgetPasswordForm.invalid || isLoading" type="submit" class="ms-auto btn-main w-fit">
        @if(isLoading){
        <i class="fa fa-spin fa-spinner"></i>
        }
        Verify Email

    </button>


</form>
}

@if (step==2) {
<h1 class="text-center text-green-600 text-2xl font-bold py-3 mt-3 uppercase">verify Code</h1>
<form class="max-w-lg mx-auto py-8" [formGroup]="verifyCodeForm" (ngSubmit)="submitVerifyCodeForm()">
    <div class="relative z-0 w-full mb-5 group">
        <input type="email" name="text" id="resetCode" formControlName="resetCode"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
            placeholder=" " required />
        <label for="resetCode"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">ResetCode
        </label>
    </div>

    @if(response){
    <div class="pb-4 mb-4 text-sm text-green-600" role="alert">
        <span class="font-medium">{{response.message}}</span>
    </div>
    }
    @if(errorRes){
    <div class="pb-4 mb-4 text-sm text-red-600" role="alert">
        <span class="font-medium">{{errorRes.error?.message}}</span>
    </div>
    }

    <button [disabled]="verifyCodeForm.invalid || isLoading" type="submit" class="ms-auto btn-main w-fit">
        @if(isLoading){
        <i class="fa fa-spin fa-spinner"></i>
        }
        Send Code

    </button>


</form>
}

@if (step==3) {
<h1 class="text-center text-green-600 text-2xl font-bold py-3 mt-3 uppercase">Reset Password</h1>
<form class="max-w-lg mx-auto py-8" [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPasswordForm()">
    <div class="relative z-0 w-full mb-5 group">
        <input readonly type="email" name="email" id="email" formControlName="email"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
            placeholder=" " required />
        <label for="email"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email
            Address
        </label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="password" name="newPassword" id="newPassword" formControlName="newPassword"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
            placeholder=" " required />
        <label for="newPassword"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">New
            Password

        </label>
    </div>
    @if(response){
    <div class="pb-4 mb-4 text-sm text-green-600" role="alert">
        <span class="font-medium">{{response.message}}</span>
    </div>
    }
    @if(errorRes){
    <div class="pb-4 mb-4 text-sm text-red-600" role="alert">
        <span class="font-medium">{{errorRes.error?.message}}</span>
    </div>
    }

    <button [disabled]="resetPasswordForm.invalid || isLoading" type="submit" class="ms-auto btn-main w-fit">
        @if(isLoading){
        <i class="fa fa-spin fa-spinner"></i>
        }
        Reset Password

    </button>


</form>
}