<footer class="bg-main-light shadow py-5">
    <!-- footer payment Details Design  -->
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <img src="assets/images/freshcart-logo.svg" class=" p-3" alt="freshcart logo">

        <ul>
            <li>
                <a href="">

                    <i class="fa-brands fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </li>

        </ul>
    </div>

    <hr>

    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-gray-400 sm:mt-0">
            <li>
                <h3>Payment partners</h3>
            </li>
            <li>
                <img src="assets/images/amazon-pay.png" width="30px" alt="amazon pay" />
            </li>
            <li>
                <img src="assets/images/American-Express-Color.png" width="30px" alt="American Express" />
            </li>
            <li>
                <img src="assets/images/paypal.png" width="30px" alt="paypal" />
            </li>
            <li>
                <img src="assets/images/mastercard.webp" width="30px" alt="mastercard" />
            </li>
        </ul>

        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-gray-400 sm:mt-0">
            <li>
                <h3 class="h6 m-0">Get Deliveries with FreshCart</h3>
            </li>
            <li>
                <img src="assets/images/get-google-play.png" width="75px" alt="google play" />
            </li>
            <li>
                <img src="assets/images/get-apple-store.png" width="75px" alt="apple store" />
            </li>
        </ul>
    </div>
</footer>