<div class="my-5">
    <div class="w-full my-3 px-5 py-8 bg-main-light shadow-md sm:rounded-lg">
        <h2 class="text-2xl text-main font-extrabold text-center uppercase">Shopping Cart</h2>
    </div>

    @if (cart.numOfCartItems) {
    <div class="my-5 relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-sm text-main uppercase bg-main-light dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-16 py-3">
                        <span class="sr-only">Image</span>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Product
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Qty
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Price
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (item of cart.data.products; track item.product._id) {
                <tr
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="p-4">
                        <img [src]="item.product.imageCover" class="w-16 md:w-32 max-w-full max-h-full rounded-md"
                            [alt]="item.product.title">
                    </td>
                    <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                        <h4>{{item.product.title}}</h4>
                        <h5 class="my-3 w-fit text-sm font-medium me-2 px-2.5 py-0.5 rounded" appCategoryLabel
                            [categoryName]="item.product.category.name">{{item.product.category.name}}</h5>
                        <span class="px-2.5 text-main text-xs">{{item.product.brand.name}}</span>

                    </td>
                    <td class="px-6 py-4">
                        <div class="flex items-center">
                            <button (click)="updateCount(item.product._id, item.count-1)"
                                class="inline-flex items-center justify-center p-1 me-3 text-sm font-medium h-6 w-6 text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                                type="button">
                                <span class="sr-only">Quantity button</span>
                                <i class="fa-solid fa-minus"></i>
                            </button>
                            <div>
                                <span>{{item.count}}</span>
                            </div>
                            <button (click)="updateCount(item.product._id,  item.count+1)"
                                class="inline-flex items-center justify-center h-6 w-6 p-1 ms-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                                type="button">
                                <span class="sr-only">Quantity button</span>
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                    </td>
                    <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                        {{item.price | currency:'EGP '}}
                    </td>
                    <td class="px-6 py-4">
                        <button class="btn-danger" (click)="removeCartItem(item.product._id)">Remove
                            <i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="flex justify-between w-full my-3 p-5 bg-main-light shadow-md sm:rounded-lg">
        <h3 class="font-bold"><span class="text-gray-500">Items: </span>{{cart.numOfCartItems}}</h3>
        <h3 class="font-bold"><span class="text-gray-500">
                Total Price: </span>{{cart.data.totalCartPrice | currency:'EGP '}}
        </h3>
    </div>

    <div class="ms-auto w-fit">
        <button [disabled]="!this.cart.numOfCartItems || isLoading" type="submit" class="btn-main w-fit my-5">
            @if(isLoading){
            <i class="fa fa-spin fa-spinner"></i>
            }
            Checkout

        </button>
    </div>
    }
</div>