button {
    transform: translateY(150%);
    transition: all 0.5s;
}

.product:hover button {
    transform: translateY(0);
}

.fav {
    transform: translatex(100%);
    transition: all 0.5s;
}

.product:hover .fav,
.product:hover .fav {
    transform: translatex(0);
}